%menu-hamburguesa {
    background: var(--primary-color);
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all .3s ease-out;
}

%hover-buttons{
    color: var(--icon-hover-color);
    background-color: var(--primary-color);
}

%active-buttons{
    color: #FFFFFF;
    background-color: var(--tertiary-color);
    border: 1px solid var(--tertiary-color);
}

%buttonLoadMore{
    cursor: pointer;
    outline: none;
    border: 1px solid var(--primary-color);
    border-radius: 25px;
    background: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-color);
    font-size: 13px;
    font-weight: bold;
    height: 3rem;
    width: 7.9rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    &:hover{
        @extend %hover-buttons;
    }
}


  
@mixin word-bundle($font-size, $color, $font-weight, $line-height) {
    font-size: $font-size;
    color: $color;
    font-weight: $font-weight;
    line-height: $line-height;
}

$breakpoint-xlg: 1440px;
$breakpoint-lg: 1024px;
$breakpoint-md: 760px;
$breakpoint-sm: 600px;

@mixin respond-to($medias...) {
    @each $media in $medias {
        @if $media == xlg-screen {
            @media screen and (min-width: $breakpoint-xlg) { @content; }
        }
        @else if $media == desktop-screen {
            @media (min-width: $breakpoint-lg) { @content; }
        }
        @else if $media == tablet-screen {
            @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) { @content; }
        }
        @else if $media == mobile-screen {
            @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) { @content; }
        }
    }
}

// and (max-width: $breakpoint-xlg)